# Created by .ignore support plugin (hsz.mobi)

.idea
service-server/lifecat-common/target/
service-server/lifecat-dao/target/
service-server/lifecat-entity/target/
service-server/lifecat-manager/target/
service-server/lifecat-service/target/
service-server/lifecat-web/target/
account-service/src/main/resources/
account-service/src/main/webapp/
admin-server/src/main/resources/
admin-server/src/main/webapp/
config-server/src/main/resources/
config-server/src/main/webapp/
eureka-server/src/main/resources/
eureka-server/src/main/webapp/
product-service/src/main/resources/
product-service/src/main/webapp/
service-server/lifecat-common/src/main/resources/
service-server/lifecat-common/src/main/webapp/
service-server/lifecat-common/src/test/
service-server/lifecat-dao/src/main/resources/
service-server/lifecat-dao/src/main/webapp/
service-server/lifecat-dao/src/test/
service-server/lifecat-entity/src/main/resources/
service-server/lifecat-entity/src/main/webapp/
service-server/lifecat-entity/src/test/
service-server/lifecat-manager/src/main/resources/
service-server/lifecat-manager/src/main/webapp/
service-server/lifecat-manager/src/test/
service-server/lifecat-service/src/main/webapp/
service-server/lifecat-web/src/main/webapp/
service-server/log/
wechat-server/wechat-service/src/main/resources/
wechat-server/wechat-service/target/
wechat-server/wechat-web/src/main/resources/
wechat-server/wechat-web/target/
